{% block html_head_container %}
		{% include 'html-header.twig' %}
		{% block head %}
		{% endblock %}
{% endblock %}

<header id="header" class="container-fluid">
    {% block header %}

    <div class="wrapper">

				<div class="logo-container">
						<h1 class="hdr-logo" role="banner"><a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
						</h1>
				</div>

        <nav class="nav-main" id="nav-main" role="navigation">
            {% include "menu.twig" with {'menu': menu.get_items} %}
        </nav>
        <!-- #nav -->
    </div>
    {% endblock %}
</header>

<section id="content" class="content-wrapper container-fluid"  role="main">
    {% if title %}

    <h1>{{title}}</h1>
    {% endif %}

    <div class="wrapper {{sidebar_class}}">
        {% block content %} Sorry, no content {% endblock %}
    </div>
    {% if sidebar %}

    <aside class="layout-sidebar">
        {{sidebar}}
    </aside>
    {% endif %}
</section>

{% block footer %}
	<footer id="footer" class="container-fluid">
	    {% include 'footer.twig' %}
	</footer>
	{{ function('wp_footer') }}
{% endblock %}
